<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">,
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.1/cerulean/bootstrap.min.css"
        integrity="sha512-M/I1PV7KaMQA0diDoFfO0Me6ZqLX71C84d6GmGVChSHan0tXtZ67Xvk0p4qEYh4oqVjCWCHyy+cR5gKIZBdsPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Weather App</title>
</head>

<body>
    <div class="navabr navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a href="../" class="navbar-brand">Weather App <span style="color:rgb(39,117161);"><strong>
                        Justo</strong></span></a>
            <a href="https://twitter.com/Langat_036" class="navbar-tech">Follow me on twitter</a>
        </div>
    </div>
    <br><br>
    <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top: -50px;">
        <h1 class="display-5">Weather Desktop App</h1>
        <h5>Using Python Language and Django Framework</h5>
        <img src="{% static 'images/weather.png' %}" class="image" style="width:100px; margin-bottom: 50px;">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <form method="post" class="col-md">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="city" placeholder="Choose your city...">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </nav>
    <br><br>
    <div class="row">
        {% if country_code and coordinate and temp and pressure and humidity and speed %}
        <div class="col d-flex justify-content-center">
            <div class="card text-white bg-light mb-6">
                <div class="card-body">
                    <h4><span class="badge badge-primary">Country Code :</span>{{ country_code }}</h4>
                    <h4><span class="badge badge-primary">Cordinates [X,Y] :</span>{{ coordinate }}</h4>
                    <h4><span class="badge badge-primary">Temperature in celsius :</span>{{ temp }}</h4>
                    <h4><span class="badge badge-primary">Pressure :</span>{{ pressure }}</h4>
                    <h4><span class="badge badge-primary">Humidity :</span>{{ humidity }}</h4>
                    <h4><span class="badge badge-primary">Forecast :</span>{{ main }} <img
                            src="http://openweathermap.org/img/w/{{icon}}.png" style="width:70px"></h4>
                    <h4><span class="badge badge-primary">Wind Speed :</span>{{ speed }}</h4>
                    <h4><span class="badge badge-primary">Description :</span>{{ description }}</h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>